<% if country = user.country %>
  <p><%= t '.country', country: country %></p>
<% end %>

<% if languages = user.languages.presence %>
  <p><%= t '.i_speak', languages: languages.to_sentence %></p>
<% end %>

<% if areas_of_interest = user.areas_of_interest.presence %>
  <p><%= t '.areas_of_interest', areas: areas_of_interest.to_sentence %></p>
<% end %>

<% if user.about_me.present? %>
  <%= sanitize user.about_me %>
<% end %>

<% if current_user&.admin? %>
  <h4>Private information</h4>
  <p>
  <strong>Gender:</strong>
  <%= user.gender %>
  </p>
  <p>
    <strong>Can contribute</strong><br>
    <%= user.can_contribute %>
  </p>
<% end %>
