<% if form.object.values_accepted? %>
  <%= form.hidden_field :value_statement %>
<% else %>
  <p>
  Please take a few minutes to read the <a href="/fundaction_values.pdf">FundAction value statement</a>.<br />
    <%= form.check_box :value_statement, label: 'I read and accept the FundAction value statement' %>
  </p>
<% end %>

<%= form.check_box :public_email, label: 'Show my email address on my profile page so other members can contact me' %>

<%= form.text_field :gender %>
<p class="help-text"><%= t(".gender_hint") %></p>


<label for="user_country">
  <%= t 'country', scope: %i(activemodel attributes user) %>
  <%= form.country_select :country, { include_blank: true }, { data: { placeholder: t('.choose_country') } } %>
</label>

<%= form.select :languages, language_select_options(form.object.languages), {}, { multiple: true, data: { placeholder: t('.choose_languages') } } %>
<%= form.select :areas_of_interest, area_of_interest_select_options(form.object.areas_of_interest), {}, { multiple: true, data: { placeholder: t('.choose_areas_of_interest') } } %>
<%= form.text_field :other_area_of_interest, placeholder: t('.other_area_of_interest') %>

<%= form.editor :about_me, toolbar: :full, lines: 10 %>

<%= form.text_area :can_contribute, rows: 5 %>
<p class="help-text"><%= t(".can_contribute_hint") %></p>

<%= form.text_area :cultural_background, rows: 5 %>
<p class="help-text"><%= t(".cultural_background_hint") %></p>
